# Your Code, bitte schreibe vor diese zeile ein # damit dein code auf github ist
dein_code/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration
.env
.env.local

# Logs
*.log